body{
    background-color:lightgrey;
}
.header{
    width: 100% ;
    height: 20%;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
}
.heading-h1{
    display: block;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h2{
    color: red;
}