body{
    background-color:lightgrey;
    margin-top: 0;
}
.header img{
    align-content: center;
    height: 100%;
    display: block;
    margin-left: 42%;
}
.header{
    display: block;
    height: 150px;
    width: 100%;
    background-color: black;
}
.heading-h1{
    display: block;
    color: black;
    font-family: 'Times New Roman', Times, serif    ;
    font-weight: bolder;
    margin: 5px;
}

h2{
    color: red;
}
.about p {
    font-size: 19px;
}
table{
    border-collapse: collapse;
    width: 80%;
    box-sizing: border-box;
}
table,tr{
    border: 1px solid;
    padding: 20px;
}
td{
    padding: 15px;
    border-bottom: 1px solid rgb(199, 199, 199);
    font-size: 17px;
}
th{
    padding: 20px;
    border-bottom: 3px solid rgb(199, 199, 199);
    font-size: 20px;
}
caption{
    color: darkslategray;
    font-size: 23px;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 30px;
}
td a:hover{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}