body{
    background-color:rgb(255, 244, 244);
    margin-top: 0;
}
.header img{
    align-content: center;
    height: 100%;
    display: block;
    margin-left: 42%;
}
.header{
    display: block;
    height: 150px;
    width: 100%;
    background-color: black;
}
.heading-h1{
    display: block;
    color: black;
    font-family: 'Times New Roman', Times, serif    ;
    font-weight: bolder;
    margin: 5px;
}

h2{
    color: red;
}
.about p {
    font-size: 19px;
}
table{
    border-collapse: collapse;
    width: 80%;
    box-sizing: border-box;
    background-color: rgb(245, 229, 229);
}
table,tr{
    border: 1px solid;
    padding: 20px;
}
td{
    padding: 13px;
    border-bottom: 1px solid rgb(172, 164, 164);
    font-size: 19px;
}
th{
    padding: 20px;
    border-bottom: 3px solid rgb(172, 164, 164);
    background-color: rgb(190, 143, 115);
    font-size: 24px;
}
caption{
    color: darkslategray;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 30px;
}
td a:hover{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    background-color: ivory;
    border-radius: 20%;
    margin: 2px;
}
tr:hover{
    background-color: rgb(236, 212, 198);
}