*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(180deg,grey,gray,black);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
}

h1,form{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    margin: 70px;
}

h1{
    font-size: 50px;
    color: black;
}

form input,
form button{
    padding: 10px;
    border: none;
    font-size: 25px;
    outline: none;
}

form button{
    color: blue;
    background-color: white;
    padding: 5px;
}
form button:hover{
    color: rgb(31, 173, 230);
    background-color: rgb(188, 229, 240);
}