*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 63, 63);
    height: 100vh;
    /* border: 3px solid black; */
}

.container{
    background-color: #fff;
    /* width: 500px; */
    border-radius: 9px;
}