*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: snow;
}
h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: 36px;
    color: #7d161a;
    margin-bottom: 86px;
}
.container{
    display: flex;
    justify-content: space-evenly;
}

.template-1{
    width: 30%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
}
.template-1 .sec-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
li{
    list-style: none;
}