
body{
    background-color: rgb(181, 228, 228);
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}
.counter{
    font-size: 30px;
}
.button{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    
}

button{
    padding: 14px;
    margin: 15px;
    display: block;
    font-size: 30px;
    color: cornsilk;
    background-color:rgb(158, 157, 157) ;
    border: hidden;
    width: 60px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px grey ,-2px -2px 7px rgb(252, 245, 245);
}

#counter{
    border: hidden;
    color: black;
    font-size: 40px ;
    background-color:rgb(181, 228, 228) ;
}

