*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-content{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: grey;
}
footer{
    width: 100%;
    background-color: rgb(80, 76, 76);
}
.sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    margin: 13px;
}
.about{
    width: 40%;
}
.sec-1 h2{
    font-size: 27px;
    color: whitesmoke;
}
.about p {
    text-align: justify;
    color: rgb(157, 157, 235);
    margin-top: 8px;
}
.sec-1 ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(157, 157, 235);
}
a:hover{
    color: white;
    text-decoration: underline;
}
span{
    color: rgb(157, 157, 235);
}
i{
    color: rgb(157, 157, 235);
    font-size: 24px;
}
.sec-1 ul li {
    padding: 6px;
}