*{
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    width: 80%;
    background-color: rgb(250, 245, 245);
}
table,tr{
    border: 1px solid;
    padding: 20px;
}
td{
    padding: 20px;
    border-bottom: 1px solid rgb(199, 199, 199);
}
th{
    padding: 20px;
    border-bottom: 3px solid rgb(199, 199, 199);
    background-color: lightsteelblue;
}
caption{
    color: blue;
}