*{
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    padding: 50px;
}

.time{
    display: flex;
    flex-wrap: wrap;
    
}

h1{
    padding: 9px;
}

.text{
    display: block;
    justify-content: center;
    align-items: center;
}


#text{
    outline:none ;
    border: none;
    
    font-size: 20px;
    padding: 14px;
    margin: 10px;
}


.today{
    display: flex;
    flex-wrap: wrap;
}

.today h2{
    padding: 8px;
}