*{
    margin: 0;
}
ul{
    list-style: none; /*TO REMOVE BULLETS FROM LIST */
    background-color: gray;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 40px;font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 15px 20px;

}