*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    min-width: 100%;
    background-color: lightgrey;
}
.wrapper{
    width: 600px;
    background-color: #fff;
    padding: 10px;
    margin: 20px auto ;
    border: 1px solid ;
}
.custom-table{
    border-collapse: collapse;
}
.basic{
    background-color: rgb(248, 233, 223);
}
.plus{
    background-color: rgb(250, 237, 232);
}
.deluxe{
    background-color: rgb(247, 230, 215);
}
.pro{
    background-color: rgb(244, 247, 250);
}
td , th{
    padding: 10px;
    text-align: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
    font-size: 24px;
}
th{
    height: 70px;
    color: darkblue;
    font-size: 35px;
}
thead i{
    margin-right: 10px;
    color: rgba(0, 0, 255, 0.24);
}
tbody tr:nth-child(odd){
    background-color: snow;
}
tfoot tr{
    line-height: 70px;
}
tfoot tr a{
    text-decoration: none;
    color: midnightblue;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: rgb(247, 194, 194);
}
tfoot tr a:hover{
    color: black;
    transition: 2s;
    text-decoration: underline; 
    background-color: lightgrey;
}
caption{
    font-size: 50px;
    font: outline;
    color: rgb(83, 83, 83);
    margin-bottom: 17px;
}
tbody tr:first-child td{
    color: green;
    font-size: 30px;
}