*{
    padding: 0;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.time{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    max-height: 25vh;
}

.time h1{
    padding: 9px;
}

.greeting{
    font-size: 35px;
    margin-top: 0;
    padding-top: 0;
}

.text{
    display: block;
    justify-content: center;
    align-items: center;
}


#text{
    outline:none ;
    border: none;
    background-color: unset;
    font-size: 35px;
    padding: 10px;
    margin: 10px;
    
}


.today{
    display: flex;
    flex-wrap: wrap;
}

.today h2{
    padding: 8px;
}