* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
  }

  .container {
    width: 100%;
    margin: auto;
    background-color: wheat;
  }
  .header {
    background-color: grey;
    width: 100%;
    height: 11vh;
    position: sticky;
    top: 0;
  }
  .header .menu {
    list-style: none;
    float: right;
  }

  .menu li {
    display: inline-block;
    line-height: 70px;
    position: relative;
  }
  .menu li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 20px ;
    font-size: 40px;
    font-weight: bold;
  }
  .menu li a:hover{
    color: tomato;
    background-color: whitesmoke;
    height: 11vh;
  }
  .show-btn,
  .hide-btn{
    font-size: 30px;
    line-height: 70px;
    color: black;
    float: right;
    padding-right: 20px;
    display: none;
  }
  #checkb {
    position: absolute;
    visibility: hidden;
    z-index: -10;
  }
.banner{
    width: 100%;
    margin-top: 40px;
    height: 100vh;
    margin-bottom: 30px;
    display: flex;
 }
 .banner img{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
 }
 .banner .top-left{
   position: absolute;
   top:190px;
   left: 16px;
   font-size: 58px;
   color: black;
   background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
   color: #f1f1f1; /* Grey text */
   width: 20%; 
   padding: 20px; 
   z-index: 1;
 }
 .section-1{
   float: left;
   width: 100%;
   margin: 40px;
   margin-top: 30px;
   margin-bottom: 40px;
 }
 .section-1-member img{
  border-radius: 50%;
  float: left;
  box-shadow: 3px 3px 3px 3px lightslategray;
  height: 10%;
  width: 20%;
  margin-right: 71px;
  margin-bottom: 15px;
 }
 .content {
  flex-direction: column;
  display: flex;
  margin-top: 6px;
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
  clear: both;
}
.section-2{
  display: flex;
  flex-direction: row;
  height: 92vh;
  width: 98vw;
  margin-top: 35px;
  margin-bottom: 10px;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 50%;
  font-size: 30px;
  color: black;
  background-color: rgb(219, 192, 182) ;
  border-radius: 11px;
  float: left;
  overflow: hidden;
  margin-left: 6px;
}
.left h2{
  margin-bottom: 15px;
  margin-left: 8px;
}
.left p{
  margin-left: 8px;
}
.right{
  float: right;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 75vh;
  margin: 10px;
}
.right .box img {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27vh;
  border-radius: 3px;
}
.box1{
  top:200vh;
  left: 54vw;
  font-size: 35px;
  font-weight: bold;
}
.box2{
  top:230vh ;
  left: 54vw;
  font-size: 35px;
  font-weight: bold;
}
.box3{
  top: 260vh;
  left: 54vw;
  font-size: 35px;
  font-weight: bold;
}
.section-3{
  float: left;
  margin-top: 30px;
  width: 100%;
  height: 60vh;
  
}
.tech-box{
    display: block;
    width: 250px;
    height: 65vh;
    box-shadow: 3px 3px 3px 3px lightslategray;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    float: left; 
    margin: 50px;
}
.tech-box-img img{
  border-radius: 22px;
  box-shadow: 3px 3px 3px 3px lightslategray;
  width: 100%;
  height: 20vh;
  margin-bottom: 10px;
}
.tech-box-title h3{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tech-box-content p{
  text-align: center;
  font-size: 20px;
  padding: 10px;
  display: block;
  overflow: hidden;
}
.tech-box-link li{
  background-color: red;
  padding: 3px 4px 3px 4px;
  border-radius: 9px;
  display: block;
  text-align: center;
}
.tech-box-link li a{
  padding: 5px;
  text-align: center;
  display: block;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: burlywood;
}
.tech-box-link li a:hover{
  background-color: darksalmon;
  transition: 1s;
  cursor: pointer;
  border-radius: 10px;
  color:black;
}
.tech-box:hover{
  background-color:black;
  color:white;
  transition:2s
}
.section-4{
  height:76px ;
  width: 100%;
  background-color: lightskyblue ;
  margin-bottom: 0px;
  bottom: 0;
}
.footer p{
  text-align: center;
  font-size: 20px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: lighter;
}
.footer li{
  font-style: italic;
  text-align: center;
  list-style: none;
  margin-top: 0.9vh;
}